@import url('https://fonts.googleapis.com/css2?family=Acme&family=Chakra+Petch:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@mixin text-style ($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin checkbox-style ($width, $height, $border-radius, $position, $display) {
  width: $width;
  height: $height;
  border-radius: $border-radius;
  position: $position;
  display: $display;
}

@mixin border-style ($border-width, $border-style, $border-color, $border-radius) {
  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
  border-radius: $border-radius;
}

$header-text-blue: #118eee;
$light-green: #53f2b7;

%box-shadow-style {
  box-shadow: 6px 6px 6px #0000002b;
}


